.Header {
  padding-top: var(--gutter);
  padding-bottom: var(--gutter);
  text-align: center;
}

.Header1 {
  color: var(--orange);
  font-size: var(--fontSizeLarge);
  text-transform: uppercase;
}

.Header1 span {
  color: var(--white);
  font-size: var(--fontSizeSmall);
}